.footer {
    height: 350px;
    padding: 70px;
    background-color: #fff;

    .footer-content-left,
    .footer-content-mid,
    .footer-content-right {
        h3 {
            font-size: 1.28571rem;
            font-weight: 700;
            color: #3f3f3f;
            margin-bottom: 30px;
        }

        p {
            color: #999;
        }
    }

    .footer-content-left {
        .footer-content-left-social-media-relate {
            display: flex;

            p {
                margin-right: 20px;
                border: 1px solid #999;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                text-align: center;
                cursor: pointer;

                .icon-media {
                    transform: translateY(5px);
                }

                &:hover:nth-child(1) {
                    background-color: blue;
                    color: #fff;
                    border: none;
                }
                &:hover:nth-child(2) {
                    background-color: pink;
                    color: #fff;
                    border: none;
                }
                &:hover:nth-child(3) {
                    background-color: red;
                    color: #fff;
                    border: none;
                }
            }
        }
    }

    .footer-content-mid {
        .footer-content-mid-list {
            list-style: none;
            padding: 0px;

            .footer-content-mid-list-item {
                display: flex;

                .footer-content-mid-list-item-icon {
                    transform: translateY(5px);
                    margin-right: 10px;
                    color: #999;
                }
            }
        }
    }

    .footer-content-right {
        .footer-content-right-email {
            height: 45px;
            display: flex;
            margin-bottom: 20px;

            input {
                height: 100%;
                width: 65%;
                padding: 10px;
                margin-right: 10px;
                border-radius: 3px;
                border: 1px solid #999;
            }

            button {
                height: 100%;
                font-size: 13px;
                border: 1px solid;
                background-color: #323232;
                color: #fff;
                font-weight: 600;
                outline: none;
            }
        }
    }
}
